<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container" id="container">
        <div id="products-list" th:if="${#lists.size(products) == 0}">
            <h2>There are no products added yet</h2>
        </div>

        <table class="table" id="products-table">
            <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody th:each="product : ${products}">
            <tr>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
  </section>
</body>
</html>